.search_hotels_btn {
  background-color: rgba(214, 145, 42, 1);
}

.form-control {
  padding: 10px 10px 10px 10px;
}

.herobanner_searchbar {
  height: 10px;
  width: 220px;
  font-size: 17px;

  @media screen and (max-width: 450px) {
    width: 100px;
    display: flex;
  }
}

.alternatives_searchbtn {
  background-color: rgba(214, 145, 42, 0.85);
  border: 2px solid transparent;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  height: 39px;

  &:hover {
    background-color: rgba(214, 145, 42, 1);
  }

  @media screen and (max-width: 455px) {
    display: none;
  }
}

.alternatives_wrapper {
  @media screen and (max-width: 455px) {
    display: flex;
    width: 100%;
  }
}

.css-1s2u09g-control {
  @media screen and (max-width: 455px) {
    width: 300px !important;
  }
}

.css-319lph-ValueContainer {
  @media screen and (max-width: 455px) {
    margin: auto;
  }
}

.css-14el2xx-placeholder,
.css-319lph-ValueContainer .css-tlfecz-indicatorContainer,
.css-1okebmr-indicatorSeparator {
  @media screen and (max-width: 455px) {
    display: none;
  }
}
