.search_hotels_btn {
  background-color: rgba(214, 145, 42, 1);
}

.form-control {
  padding: 10px 10px 10px 10px;
}

.herobanner_searchbar {
  height: 50px;
  width: 220px;
  font-size: 17px;

  @media screen and (max-width: 450px) {
    width: 100px;
  }
}

.alternatives_searchbtn {
  background-color: rgba(214, 145, 42, 0.85);
  border: 2px solid transparent;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  height: 39px;

  &:hover {
    background-color: rgba(214, 145, 42, 1);
  }
}
