.checkout {
  &_wrapper {
    padding: 3rem 0px 5rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1330px) {
      flex-direction: column-reverse;
    }
  }
  &_leftside {
    padding-top: 5rem;
    background-color: rgba(112, 115, 160, 1);
    width: 45%;
    height: 100vh;

    @media screen and (max-width: 1330px) {
      margin: auto;
      width: 85%;
    }

    &_heading {
      text-align: center;
      color: white;
      font-size: 48px;
      font-weight: bold;

      @media screen and (max-width: 690px) {
        font-size: 32px;
      }
    }

    &_miniheading_div {
      padding: 2rem 0px 5rem 0px;
    }

    &_features {
      width: 50%;
      margin: auto;
      color: white;
      font-size: 26px;
      font-weight: 100;
      text-align: center;

      @media screen and (max-width: 690px) {
        width: 90%;
      }
    }

    &_79aday {
      display: flex;
      width: 40%;
      height: 20%;
      margin: auto;
      background-color: rgba(34, 36, 74, 1);
      justify-content: center;
      border-radius: 20px;
      align-items: center;

      @media screen and (max-width: 690px) {
        width: 40%;
        height: 10%;
      }
    }

    &_79 {
      color: white;
      font-size: 64px;
      font-weight: bold;
      text-align: center;

      @media screen and (max-width: 690px) {
        font-size: 24px;
      }
    }

    &_aday {
      color: white;
      font-size: 20px;
      font-weight: 100;
      text-align: center;
    }

    &_discountwrapper {
      width: 50%;
      padding: 1rem;
      margin: auto;
      text-align: center;

      @media screen and (max-width: 690px) {
        width: 100%;
      }
    }

    &_15percent {
      margin: auto;
      color: rgb(0, 0, 0);
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      padding: 10px 10px 0px 0px;

      @media screen and (max-width: 690px) {
        padding: 0px 10px 0px 0px;
      }
    }

    &_discount_compared {
      color: white;
      font-size: 20px;
      font-weight: 100;
      text-align: center;
    }

    &_upgradediv {
      display: flex;
      width: 70%;
      height: 10%;
      margin: auto;
      background-color: rgba(214, 145, 42, 1);
      justify-content: center;
      border-radius: 10px;
      align-items: center;
      cursor: pointer;
    }

    &_upgrade {
      color: white;
      font-size: 35px;
      padding: 1rem;
      font-weight: bold;
      text-align: center;

      @media screen and (max-width: 690px) {
        font-size: 18px;
      }
    }
  }

  /////
  &_rightside {
    height: 100vh;
    width: 45%;
    border: 2px solid rgba(112, 115, 160, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1330px) {
      margin: auto;
      width: 85%;
    }
  }

  .paynow_btn {
    background-color: rgba(214, 145, 42, 1);
    border-radius: 10px;
    padding: 15px;
    width: 150px;

    &:hover {
      transform: var(--bounce);
      transition: var(--transition);
      color: rgb(255, 255, 255);
      font-weight: 00;
    }
  }
}
