.contact {
  height: 100vh;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 1300px) {
      display: block;
    }
  }

  &_text {
    @media screen and (max-width: 1300px) {
      margin-bottom: 50px;
    }
  }

  &_contactform {
    padding: 30px;
    margin-top: 100px;
    border-top: 2px solid #9f8561;

    @media screen and (max-width: 1300px) {
      margin: 40px 0px 0px 0px;
      border-top: 4px solid #9f8561;
    }
  }

  &_title {
    font-size: 2rem;
    color: rgba(57, 116, 203, 1);

    @media screen and (max-width: 1300px) {
      margin-top: 20px;
      font-size: 1.2rem;
    }
  }

  &_description {
    width: 80%;
  }

  &_phone {
    display: flex;
    margin-top: 20px;
  }

  &_icon {
    font-size: 25px;
  }
  &_sendbtn {
    background-color: rgba(214, 145, 42, 1);
  }
}
