.dashboard {
  &_wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }

  &_head_button {
    height: 40px;
    width: 30%;
    color: rgb(255, 255, 255);
    background-color: rgba(214, 145, 42, 1);
    border: 2px solid transparent;

    &:hover {
      color: black;
    }
  }
}
