.hotelcard_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotelcard {
  display: flex;
  margin-top: 4rem;
  width: 90%;
  padding: 20px 20px 80px 0px;
  border-bottom: 2px solid rgba(214, 145, 42, 0.37);

  @media screen and (max-width: 1200px) {
    display: block;
    text-align: center;
  }

  &_textdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_atc_btn {
    height: 40px;
    width: 30%;
    color: white;
    background-color: rgba(214, 145, 42, 1);
    border: 2px solid transparent;
    transition: ease 0.4s;

    &:hover {
      width: 35%;
      transition: 0.3s ease-in-out;
    }

    @media screen and (max-width: 850px) {
      width: 70%;

      &:hover {
        width: 85%;
      }
    }
  }

  &_description {
    width: 80%;
    font-weight: 300;

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }

  &_title {
    font-weight: bolder;
    font-size: 32px;
    color: rgba(57, 116, 203, 1);

    @media screen and (max-width: 850px) {
      font-size: 24px;
    }
  }

  &_location {
    text-decoration: underline;
    padding: 10px 0px 20px 0px;
  }

  &_img {
    margin-right: 20px;

    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
}

.alternatives_wrapper {
  display: flex;
}
